/* CSS Reset */
body {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* Style page content */
html {
    color: rgb(67, 67, 65);
    font-family: 'Inter', sans-serif;
    font-size: 62.5%;
    font-weight: 500;
    background-color: #f7f8f9;
}

body {
    font: inherit;
    font-size: 1.6rem;
    line-height: 1.5;
    display: block; /* or flex? */
}

header, main, footer {
    display: grid;
}

header {
    color: white;
    background-color: #0b196c;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
}

header h1 {
    margin-left: 2rem;
    font-size: 2.4rem;
    font-weight: 300;
}

nav ul {
    list-style: none;
    display: flex;
    margin-right: 20px;
    font-size: 1.2rem;
}

nav ul li {
    padding: 0 1rem;
}

header .sign-in {
    font-size: 1.4rem;
}

header .sign-in button {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.7rem 1.1rem;
    margin-right: 1rem;
    background-color: #116FDD;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

#hero {
    background-color: #0b196c;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#hero h1 {
    font-size: 2.4rem;
    font-weight: 300;
    color: white;
    display: flex;
    justify-content: center;
}

main {
    padding: 20px;
}

#conversion-form {
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    display: grid;
    gap: .5rem;
    justify-items: center;
}

#conversion-form #swap-button {

}
#conversion-form #convert-button {
    padding: 0.7rem 1.1rem;
    background-color: #116FDD;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#conversion-form button:hover {
    background-color: #309AFC;
}

#input-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input {
    margin: 0 1.5rem;
}

.input label {
    display: block;
    margin-bottom: .1rem;
    font-size: 1rem;
    font-weight: 600;
}

.input input {
    width: 100%;
    padding: .75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.2rem;
}

